*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 400;
    color: black;
    letter-spacing: 2px;
    background-color: #051652;
    width: 100vw;
    height: 100vh;
}

/* Index/landing page */

#landing-page {
    animation: fadeIn 5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url('../images/destiny-destiny-2-warlock-hunter-titan-traveller.jpg') center bottom / cover no-repeat;
}

@keyframes fadeIn {
    0% {opacity: 2%;}
}

#landing-text {
    font-size: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* button used to open login form */
.open-login-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 40%;
    font-size: x-large;
    font-family: Overpass, sans-serif;
    text-transform: uppercase;
}

/* The popup form */
.login-popup {
    display: none;
    position: fixed;
    bottom: 10%;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Style for form container */
.login-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.login-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}

.login-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

/* style for submit/login button */
.login-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* add color for cancel button */
.login-container .cancel {
    background-color: red;
}

/* Hover over effect to buttons */
.login-container .btn:hover, .open-login-button:hover {
    opacity: 1;
}

/* Naviagation */

.nav {
    overflow: hidden;
    background-color: #051652;
}

.nav a {
    float: left;
    display: block;
    color: #0090B8;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

.nav a:hover {
    background-color: #00E1B5;
    color: black;
}

.nav a.active {
    background-color: #003E81;
}

.nav .icon {
    display: none;
}

/* Home page */

#hero-image {
    background: url(../images/imgbin_destiny-2-computer-mouse-computer-keyboard-mouse-mats-razer-inc-png.png) center no-repeat #0090B8;
    height: 100%;
    position: relative;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 20%;
    color: white;
    font-size: xx-large;
}

.charater-class {
    background: chocolate;
    /*margin: 20px;*/
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    text-align: end;
}

img {
    max-width: 100%;
}

.img-col {
    flex-basis: 20%;
}

.text-col {
    flex-basis: 50%;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
}

.footer-btn {
    background-color: green;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    opacity: 0.8;
    border: black solid 2px;
    border-radius: 6px;
}

.footer-btn:hover {
    opacity: 1;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 400px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    animation-name: animatein;
    animation-duration: 0.5s
}

/* Add Animation */

@keyframes animatein {
    from {top:-500px; opacity:0}
    to {top:0; opacity:1}
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.contact-form {
    display: grid;
    text-align: left;
}

.contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=submit], .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}

.contact-form input[type=text]:focus, .contact-form input[type=email]:focus, .contact-form input[type=submit], .contact-form textarea {
    background-color: #ddd;
    border-color: black;
}

/* Quiz */

#quiz-container {
    width: 80%;
    border: 1pz grey solid;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 30px 5px;
    display: grid;
}

#quiz-container img {
    display: block;
    margin: auto;
    width: 30%;
}

.question, #result {
    display: none;
    }

.choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 2px solid;
    background-color: grey;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

#intro, .question, #result {
    max-width: 600px;
    margin: 0 auto;
}

#beginquiz {
    border: 1px solid;
    border-radius: 3px;
    background-color: #eee;
    text-align: center;
    line-height: 2em;
    padding: 0.5em;
    margin: 0.5em;
    width: 20em;
    margin: 0 auto;
}
#beginquiz:hover {
    color: #bfbfbf;
    background-color: #555;
}


/* media Queries */

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: center
    }
}