*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3 {
    color: white;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 600;
    color: black;
    letter-spacing: 2px;
    background-color: #051652;
    width: 100vw;
    height: 100vh;
}

/* Index/landing page */

.landing-page {
    animation: fadeIn 5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/pages/destiny-destiny-2-warlock-hunter-titan-traveller.jpg') center bottom / cover no-repeat;
    height: 100%;
}

@keyframes fadeIn {
    0% {opacity: 2%;}
}

#landing-text {
    font-size: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.login-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.login-content {
    position: relative;
    background: url('../images/pages/destiny-2-video-games-hunter-titan-wallpaper.jpg') center top / cover no-repeat;
    margin: 0 auto;
    width: 50%;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.login-header {
    padding: 2px 16px;
    background-color: #003E81;
}

.login-body {
    width: 50%;
    padding: 50px 10px;
    margin: auto;
}

.login-btn {
    border: 2px solid #00E1B5;
    background-color: #051652;
    border-radius: 20px;
    padding: 15px;
    color: white;
    width: 30%;
    font-weight: 600;
}

.login-btn:hover {
    border-color: black;
    background-color: green;
}

.login-footer {
    padding: 2px 16px;
    background-color: #003E81;
}

/* Full-width input fields */
.login-body input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}

.login-body input[type=text]:focus {
    background-color: #ddd;
}

.login-body input[type=text]:hover {
    color: black;
}

#loginBtn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 40%;
    font-size: x-large;
    font-family: Overpass, sans-serif;
    text-transform: uppercase;
}

/* Naviagation */

.nav {
    overflow: hidden;
    background-color: #051652;
}

.nav a {
    float: left;
    display: block;
    color: #00B9BC;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

.nav a:hover {
    color: #00E1B5;
}

.nav a.active {
    background-color: #003E81;
}

.nav .icon {
    display: none;
}

/* Home page */

#hero-image {
    background: url('../images/pages/imgbin_destiny-jigsaw-puzzles-puzzle-video-game-png.png') center no-repeat #0067A4;
    height: 90%;
    position: relative;
}

.hero-text {
    text-align: center;
    position: relative;
    font-size: xx-large;
    top: 2%;
}

.intro-containter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 10px solid;
    background-color: #0090B8;
}

.intro-img {
    flex-basis: 20%;
}

.intro-text {
    flex-basis: 50%;
    padding-bottom: 50px;
}

.quiz-btn {
    position: absolute;
    background-color: #0067A4 ;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.quiz-btn:hover {
    opacity: 1;
    background-color: #051652;
}

.charater-class {
    text-align: center;
    padding: 10px;
    border-right: 20px solid;
    border-left: 20px solid;
    background-color: #00B9BC;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.container2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    text-align: right;
}

img {
    max-width: 100%;
}

.img-col {
    flex-basis: 50%;
}

.text-col {
    flex-basis: 40%;
}

/* footer */

#footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 18px;
}

.footer-btn {
    background-color: #0067A4;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    opacity: 0.8;
    border: black solid 2px;
    border-radius: 6px;
    margin: 0 2px;
}

.footer-btn:hover {
    opacity: 1;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 400px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    animation-name: animatein;
    animation-duration: 0.5s
}

/* Add Animation */

@keyframes animatein {
    from {top:-500px; opacity:0}
    to {top:0; opacity:1}
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.contact-form {
    display: grid;
    text-align: left;
}

.contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=submit], .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}

.contact-form input[type=text]:focus, .contact-form input[type=email]:focus, .contact-form input[type=submit], .contact-form textarea {
    background-color: #ddd;
    border-color: black;
}

/* Quiz */

.quiz-container {
    width: 80%;
    border: 1px grey solid;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #0090b8;
    box-shadow: 0 0 30px 5px;
    display: grid;
}

.quiz-container img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

.question, #result {
    display: none;
}

#question {
    text-align: center;
}

.choices {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
}

.btn {
    border: 2px solid black;
    background-color: #0067a4;
    border-radius: 20px;
    padding: 15px;
    color: white;
    width: 40%;
    font-weight: 600;
}

.btn:hover {
    border-color: #00E1B5;
    background-color: #051652;
}

#intro, .question, #result {
    /*margin: 0 auto;*/
    text-align: center;
}

#beginquiz {
    border: 1px solid black;
    border-radius: 5px;
    line-height: 30px;
    padding: 10px;
    width: 20em;
    font-weight: 800;
    cursor: pointer;
    background-color: #0067A4;
    color: white;
}

#beginquiz:hover {
    opacity: 1;
    background-color: #051652;
}

.result-text {
    text-transform: capitalize;
}

.result-image {
    display: flex;
    padding: 100px 20px;
}


/* media Queries */

/* For screens size from 1210px wide and down */

@media screen and (max-width: 1210px) {
    .intro-text {
        flex-basis: 70%;
    }

    .img-col {
        flex-basis: 80%;
    }

    .text-col {
        flex-basis: 70%;
    }

    .btn {
        width: 80%;  
    }
}

/* For screens size from 800px wide and down */

@media screen and (max-width: 800px) {

    .hero-text {
        font-size: x-large;
        top: 70%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .intro-img {
        flex-basis: 30%;
    }
    
    .container1 {
        display: block;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding-bottom: 20px;
    }

    .container2 {
        display: block;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding-bottom: 20px;
    } 

    
    .btn {
        width: 100%;  
    }

    .quiz-container img {
        width: 100%;
    }

    .result-image {
        display: block;
    }
}

/* For screens size from 600px wide and down */

@media screen and (max-width: 600px) {

    p {
        font-size: small;
    }

    .intro-containter {
        display: block;
        text-align: center;
    }

    .intro-img {
        text-align: center;
    }

    .intro-img img {
        max-width: 50%;
    }

    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }

    .nav.responsive {position: relative;}
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: center
    }

    .modal {
        padding-top: 50px;
    }

    .modal-content {
        width: 100%;
    }

    .quiz-btn {
        right: 30%;
    }


}

