*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 400;
    color: black;
    letter-spacing: 2px;
    background-color: #051652;
    width: 100vw;
    height: 100vh;
}

/* Index/landing page */

#landing-page {
    animation: fadeIn 5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url('../images/destiny-destiny-2-warlock-hunter-titan-traveller.jpg') center bottom / cover no-repeat;
}

@keyframes fadeIn {
    0% {opacity: 2%;}
}

#landing-text {
    font-size: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* button used to open login form */
.open-login-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 40%;
    font-size: x-large;
    font-family: Overpass, sans-serif;
    text-transform: uppercase;
}

/* The popup form */
.login-popup {
    display: none;
    position: fixed;
    bottom: 10%;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Style for form container */
.login-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.login-container input[type=text], .login-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}

.login-container input[type=text]:focus, .login-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* style for submit/login button */
.login-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* add color for cancel button */
.login-container .cancel {
    background-color: red;
}

/* Hover over effect to buttons */
.login-container .btn:hover, .open-login-button:hover {
    opacity: 1;
}